<configuration>

    <!-- Affiche les requêtes SQL générées par Hibernate -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <!-- Affiche les valeurs des paramètres passés dans les requêtes SQL -->
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>

    <!-- Formatage des logs -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
